.container {
    margin-top: auto;
    position: relative;
}

h1{
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.city-input{
    width: variable;
    flex-grow: 1;
}

button{
    width: variable;
}

.fiveday{
    border: black;
}

.card{
    width: 710; 
    height: 19rem;
}